.row.text-center
  | 请对经纪人进行评价
hr.devider
- if session[:customer_mobile].nil?
  .alert.alert-danger[style='display:none']
  center
    .form-group
      .input-group
        input.form-control#author[name='author' placeholder='我的号码' autofocus=true]
        span.input-group-btn
          = button context: :info, id:"btn_verify", disabled: true, data:{'loading-text':'发送中...'} do
            | 发送验证码
  = form_for [model,comment], layout: :basic do |f|
    - if model.errors.any?
      #error_explanation
        h2
          = pluralize(model.errors.count, "error")
          |  无法存储此评价:
        ul
          - model.errors.full_messages.each do |msg|
            li
              = msg
      = f.hidden_field :parent, :value => comment.parent
    center
      = f.hidden_field :author, id:"author"
    center
      = f.text_field :code, use_label: false, autofocus: true, placeholder: "验证码", id:"code"
    center
    /  = f.radio_button("comment", "type", "nice")
    /  = f.radio_button("comment", "type", "common")
    /  = f.radio_button("comment", "type", "bad")
    center
      = f.text_area :text, use_label: false, placeholder: "评价内容", id:"text"
    center
      = f.submit "评价", class: 'btn-success btn-block'
- else
  = form_for [model,comment], layout: :basic do |f|
    - if model.errors.any?
      #error_explanation
        h2
          = pluralize(model.errors.count, "error")
          |  无法存储此评价:
        ul
          - model.errors.full_messages.each do |msg|
            li
              = msg
      = f.hidden_field :parent, :value => comment.parent
    center
      = f.text_field :author, use_label: false, id:"author", value:session[:customer_mobile], disabled:true
    center
    /  = f.radio_button("comment", "type", "nice")
    /  = f.radio_button("comment", "type", "common")
    /  = f.radio_button("comment", "type", "bad")
    center
      = f.text_area :text, use_label: false, placeholder: "评价内容", id:"text"
    center
      = f.submit "评价", class: 'btn-success btn-block'

javascript:

  var isCount = 0;
  var regexp=/^1[358]\d{9}$/;
  $('#btn_verify').on('click', function () {
    var count = 60;
    isCount = 1;
    var mobile = $('#author').val();
    $('#btn_verify').prop('disabled', true);
    $('#btn_verify').text("" + count + "s");
    timer = setInterval(countDown, 1000);
    function countDown() {
      if(count==0) {
        isCount = 0;
        clearInterval(timer);
        $('#btn_verify').prop('disabled', false);
        $('#btn_verify').text("重新发送验证码");
      } else {
        count--;
        $('#btn_verify').text("" + count + "s");
      }
    };
    $.ajax({
      type: 'POST',
      url: '/users/sms',
      data: {mobile: mobile, type:'verify'},
      dataType: 'json',
      success: function(response) {
        $('#from').val(mobile);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert(textStatus+' '+errorThrown);
      }
    });
  });
  $('input#author').keyup(function(){
    if($('#btn_verify').is(':disabled') && regexp.test($(this).val()) && !isCount) {
      $('#btn_verify').prop('disabled', false);
    } else if(!$('#btn_verify').is(':disabled')) {
      $('#btn_verify').prop('disabled', true);
    }
  });

  $('form').validate({
    rules: {
      "comment[code]": {
        required: true,
        digits: true,
        range: [1000, 9999],
        remote: "/users/check_code"
      },
    },
    messages: {
      "comment[code]": {
        required: "验证码不能为空",
        digits: "验证码格式不对",
        range: "验证码格式不对",
        remote: "验证码不准确"
      },
    },
    submitHandler: function(form) {
      $('#btn_submit').button('loading');
      $.ajax({
        type: 'POST',
        url: $(form).attr('action'),
        data: $(form).serialize(),
        dataType: 'json',
        success: function(response) {
          $('#btn_submit').button('reset');
          if (response.success) {
            swal('评价成功', '正在跳转回经纪人页面……', "success")
          } else {
            swal(response.errorCode,response.errorMsg,"warning")
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          swal('O.o', textStatus+' '+errorThrown, "error");
        }
      });
    },
    errorElement: 'div',
    errorLabelContainer: '.alert',
    highlight: function(element, errorClass) {
      $(element).closest('.form-group').addClass('has-error');
      $(element).fadeOut(function() {
        $(element).fadeIn()
      })
    },
    unhighlight: function(element) {
      $(element).closest('.form-group').removeClass('has-error');
    }
  });
