center
  .form-group
    .input-group
      input.form-control#mobile[name='from' placeholder='我的号码' autofocus=true]
      span.input-group-btn
        = button context: :info, id:"btn_verify", disabled: true, data:{'loading-text':'发送中...'} do
          | 发送验证码
= form_for(:helper, layout: :basic, url: "/helper", remote: true) do |f|
  center
    = f.hidden_field :from, id:"from"
  center
    = f.text_field :code, use_label: false, autofocus: true, placeholder: "验证码", id:"code"
  center
    = f.text_field :to, use_label: false, placeholder: "对方号码", id:"to"
  center
    = f.submit "呼叫", class: 'btn-success btn-block'

javascript:

  var isCount = 0;
  var regexp=/^1[358]\d{9}$/;
  $('#btn_verify').on('click', function () {
    var count = 60;
    isCount = 1;
    var mobile = $('#mobile').val();
    $('#btn_verify').prop('disabled', true);
    $('#btn_verify').text("请在" + count + "秒内输入验证码");
    timer = setInterval(countDown, 1000);
    function countDown() {
      if(count==0) {
        isCount = 0;
        clearInterval(timer);
        $('#btn_verify').prop('disabled', false);
        $('#btn_verify').text("重新发送验证码");
      } else {
        count--;
        $('#btn_verify').text("请在" + count + "秒内输入验证码");
      }
    };
    $.ajax({
      type: 'POST',
      url: '/users/sms',
      data: {mobile: mobile},
      dataType: 'json',
      success: function(response) {
        $('#from').val(mobile);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert(textStatus+' '+errorThrown);
      }
    });
  });
  $('input#mobile').keyup(function(){
    if($('#btn_verify').is(':disabled') && regexp.test($(this).val()) && !isCount) {
      $('#btn_verify').prop('disabled', false);
    } else if(!$('#btn_verify').is(':disabled')) {
      $('#btn_verify').prop('disabled', true);
    }
  });

  $('form').submit(function() {
    var from = $('#from').val();
    var to = $('#to').val();
    var code = $('#code').val();
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      dataType: 'json',
      success: function(response) {
        if (response.success) {
          swal('呼叫成功', '正在接通您和经纪人的电话……', "success")
        } else {
          swal(response.errorCode,response.errorMsg,"warning")
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        swal('O.o', textStatus+' '+errorThrown, "error");
      }
    });
  });
