#wrap.row
  center#left.col-sm-6
    img.img-responsive[align="center" src="/assets/app_left.png"]
  center#right.col-sm-6
    .row
      p#title[align="center"]
        | 移动版易房好介
    #right-blank
      #words
        p#content[align="center"]
          | 为您找到最优秀的经纪人，与黑中介和假房源说再见
      #code
        / = image_tag("erweima.jpg", class:"img-responsive")
        | 9月即将上线，敬请期待
      div
        #download[align="center"]
          = icon :apple
