// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg_helper{ 
	background: image-url("map2.jpg"); 
	
	background-position: center; 
	background-attachment:  scroll; 
	
	padding-top:5%; } 
#wrappernew{
    background: #fff;
    margin-top: 5%;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);

	}
