// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, verdana, arial, helvetica, sans-serif !important;
}

.site_bg {
    background:image-url('buy_success.jpg') no-repeat center scroll;
    background-size:cover;
    height:100%
}
.buyer {
    background:image-url("bg_root.jpg") no-repeat right scroll;
    background-size:cover;
    height:240px
}
.seller {
    background:image-url("seller_bg.png") no-repeat left scroll;
    background-size:cover;
    height:240px;
}

.bg {
    background: #eef5fa;
    width: 100%;
    height: 100vh
}

.site_wrapper {
    background: #fff;
    margin: 1% auto;
    padding: 2% 2%;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);
}

.card_wrapper {
    background: #fff;
    margin: 1% auto;
    padding: 2% 2%;
}

.row-justify {
    margin: 0 0;
}

.coverflow .cover {
    cursor:pointer;
    width:450px;
    height:260px;
}

.row-footer {
    margin: 12px 0 6px 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #4bb7fc !important;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 !important;
}

.navbar-nav > li > a {
    padding-top: 23px !important;
    padding-bottom: 23px !important;
}

.navbar-brand {
    padding: 0 10px 0 0 !important;
}

.bluefont {
    color: #4bb7fc;
}

#search_bar {
    .form-control {
        border: 1px solid #4bb7fc !important;
        border-radius: 0 !important;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075) !important;
    }
    .nav-tabs {
        border-bottom: 0 !important;
    }
    .nav-tabs > li > a {
        font-size: 12px;
        color: #fff;
        border-radius: 0 !important;
    }
    .nav-tabs > li > a:hover {
        background-color: #4bb7fd;
    }
    .nav-tabs > li.active > a {
        color: #fff;
        background-color: #4bb7fc;
        border: 1px solid #4bb7fc !important;
    }
}

.navbar-default {
    background-color: #fff !important;

    ul.navbar-left > li.active > a {
        background-color: #fff !important;
        color: #777 !important;
    }

    ul.navbar-right > li > a {
        color: #4bb7fc !important;
    }
}


