// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, verdana, arial, helvetica, sans-serif!important;
}

.site_bg {
    background:image-url('buy_success.jpg') no-repeat center scroll;
    background-size:cover;
    height:100%
}
.buyer {
    background:image-url("bg_root.jpg") no-repeat right scroll;
    background-size:cover;
    height:240px
}
.seller {
    background:image-url("seller_bg.png") no-repeat left scroll;
    background-size:cover;
    height:240px;
}

.bg {
    background: #eef5fa;
    width: 100%;
    height: 100vh
}

.site_wrapper {
    background: #fff;
    margin: 1% auto;
    padding: 2% 2%;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);
}

.card_wrapper {
    background: #fff;
    margin: 1% auto;
    padding: 2% 2%;
}

.row-justify {
    margin: 0 0;
}

.coverflow .cover {
    cursor:pointer;
    width:450px;
    height:260px;
}

.row-footer {
    margin: 12px 0 6px 0;
}
