// Place all the styles related to the tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tips ul {
    margin-bottom: 14px;
    list-style: none;
    line-height: 21px;
}
.tips li { width: 300px; height: 30px;  margin: 0 0 7px 0; }

.tips_bg {
    background:image-url('bag.jpg') no-repeat center scroll;
    background-size:cover;
    height:100%
}


.btn {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  height:40px
}

.SearchForm{

    margin-bottom:30px;
    

}
#col4
{
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left:0px;
    margin-right:0px;
}


.select_wrapper {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border:1px solid #ccc;
  background:rgba(255,255,255,0.7);
  margin: 0;
  padding-left:10px;
 
  width:100%;
  height:40px;

 color:#5a5a5a;
 

}


select::-ms-expand { display: none; }





#w0{
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, verdana, arial, helvetica, sans-serif !important;
    font-size:24px;
    text-align:center;
    color:#5a5a5a;
}
#t1{
    background:image-url('t-1.jpg') no-repeat center scroll;
    height:280px;      
}
#t2{
    background:image-url('t-2.jpg') no-repeat center scroll;
    height:280px;
   
}
#t3{

    background:image-url('t-3.jpg') no-repeat center scroll;
    height:280px;
   
   
}
#more{
    position:relative;
    top:48%;
    left:44%;
    font-size:20px;
    color:#fdfefe;
    
}
#t4{
    background:image-url('t-4.jpg') no-repeat center scroll;
    height:280px;
}
#t5{
    background:image-url('t-5.jpg') no-repeat center scroll;
    height:280px;
}
#t6{
    background:image-url('t-6.jpg') no-repeat center scroll;
    height:280px;
}
#w1{
    position:absolute;
    font-size:50px;
    left:120px;
    top:220px;

}
#w2{
    position:absolute;
    left:30px;
    top:160px;
    font-size:100px;
}


#tip_button{
 margin-top: 5%; 
 display: block; 
 width: 260px; 
 height: 48px; line-height: 45px; color: #767676; font-size: 16px; z-index: 102; border: 1px solid #767676; text-align: center; 
}



